@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #faf7f3;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p, li, a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

#main_content_wrap {
  background-color: #faf7f3;
} 